<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
     <link rel="stylesheet" href="{% static 'css/lista_de_tarefas/style.css' %}">
</head>
<body>
    <div class="main-card" style="max-width: 450px;">
        <a href="{% url 'lista_de_tarefas:home-lista' %}" class="nav-link">← Cancelar Edição</a>
        <h1>Editar Tarefa</h1>
        
        <form action="" method="post">
            {% csrf_token %} 
            {{form.as_p}}
            <input type="submit" value="Salvar Alterações" class="btn-main">
        </form>
    </div>
</body>
</html>