<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>
</head>
<body>
    <h1>Bem vindo {{nome}}, Aqui ficam suas tarefas!</h1>
    <table border="1">
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Situação</th>
            <th>Data de criação</th>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <td>{{tarefa.nome}}</td>
                    <td>{{tarefa.descricao}}</td>
                    <td>{%if tarefa.completa == True %} Completa {% else %} Incompleta {% endif %}</td>
                    <td>{{tarefa.data_criacao}}</td>
                    <td><a href="{% url 'lista_de_tarefas:remover' tarefa.id %}">Remover Tarefa</a></td>
                </tr>
            {% endfor %}
    </table>
    <a href="{% url 'lista_de_tarefas:adicionar' %}">Adicionar Tarefa</a> 
</body>
</html>